body {
    margin: 0;
  }
  
  main {
    margin: 16px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    background: #1d1751;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
  }
  
  .navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
    font-size: 30px;
  }
  
  .navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    font-family: 'Poppins';
    vertical-align: middle;
  }