@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:wght@400;500:600&display=swap');
body, html, p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}
p {
  color: #a3a3a3;
  font-size: 16px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.medium {
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* channel styles  */
.mycomment {
  margin-right: 24px;
}
.mycomment .commentbg, .mycomment .commentbg span {
  background-color: #FFCC00 !important;
  color: #000 !important;
}
.container {
  max-width: 1140px;
  padding: 0 32px 0 32px;
  margin: auto;
  text-align: left;
  @media screen and (max-width:767px ){
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width:767px ){
  .hide-mob {
    display: none;
  }
  .card-copy {
    margin-top: 16px;
  }
}
// guide cards 
.result-row h3 {
  font-weight: 400;
}
.specialities {
  margin-top: 16px;
  margin-bottom: 16x;
}
.specialities span {
  margin-right: 4px;
  font-weight: 500;
  background-color: #3583460f;
  padding: 4px 12px;
  border-radius: 200px;
  color: #358346;
  border: solid 1px #358346;
}
.specialities1 span {
  margin-right: 4px;
  font-weight: 500;
  background-color: #2A5F9E;
  padding: 4px 12px;
  border-radius: 200px;
  color: #e3e3e3;
  border: solid 1px #2A5F9E;
}
.guide-features img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.guide-features .showmore {
  display: block;
  margin-top: 24px;
  padding: 4px 12px;
  border-radius: 200px;
  border: solid 1px #eaeaea;
  text-align: center;
  color: #666666;
  font-size: 14px;
}
.buttonShadow {
  box-shadow: 0px 47px 80px rgba(0, 0, 0, 0.07), 0px 30.463px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 18.1037px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 9.4px 13px rgba(0, 0, 0, 0.035), 0px 3.82963px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 0.87037px 3.14815px rgba(0, 0, 0, 0.0168519);
}