@import url("https://use.typekit.net/xss4rcf.css");
body, html, p {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
}
p {
  color: #a3a3a3;
  font-size: 16px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.upload {
  font-size: 2.5rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFD80E40' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
#page-scheduler .chat-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
}
div.ant-col.chat-bar {
  @media screen and (max-width:767px ){
    height: 48px !important;
    bottom: 72px;
    input {
      width: calc(100% - 48px) !important;
      font-size: 16px;
    }
    button {
      width: 48px !important;
      span {
        font-size: 16px !important;
      }
    }
  }
}
/* channel styles  */
.mycomment {
  margin-right: 24px;
}
.mycomment .commentbg, .mycomment .commentbg span {
  background-color: white ;
  color: #000 !important;
}
.container {
  padding: 0 32px 0 32px;
  text-align: left;
  @media screen and (max-width:767px ){
    padding: 0 24px 0 24px;
  }
}

/* playlist control */
.audioplayer > div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: inherit;
  z-index: +999;
  height: 72px;
}
ul.e41919 {
  background-color: transparent;
  border: none;
  li {
    background-color: #201F20;
    color: #fff;
    margin-bottom: 16px;
    min-height: 56px;
    border-radius: 4px;
  }
  :hover {
    background-color: #2C2B2D;
  }
  li._3c8845 {
    background-color: #3F3E40;
    .efdbcb {
      color: #FFCC00;
      font-weight: 600;
    }
  }
}
.dd875e:not(._0ffd4f) {
  position: absolute !important;
  top: -19px;
  left: 0;
  width: 100%;
  background: transparent !important;
}
._1b0bc4 {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}
.d51c7c {
  height: 4px !important;
  width: 100% !important;
  left: 0 !important;
  ._407fe2  {
    background-color: #FFCC00;
  }
}
._98d7c4 {
  background-color: #FFCC00 !important;
  height: 16px !important;
  width: 16px !important;
  border-radius: 200px !important;
}
._29c928 {
  left: 0 !important;
  width: 100% !important;
}
._547c58._97eb17 {
  font-size: 14px;
  position: absolute;
  right: 24px;
}
._59d228 {
  width: 32px;
  height: 32px;
}
._7e7b1e.d03524 {
  display: none;
}
/* channel settings section */
#page-scheduler .ant-form-item-label > label {
  display: block;
}